on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
        default: dev
      docker:
        type: string
        required: true
      solution_directory:
        type: string
        required: true
      global_json_file:
        type: string
        required: true
      terraform_directory:
        type: string
        required: true
      runs_on:
        type: string
        required: false
        default: ubuntu-latest

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}

jobs:
  build:
    runs-on: ${{ inputs.runs_on }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Dotnet Build
        uses: rwitzlib/github-action-templates/.github/actions/dotnet-build@v1.4.1
        with:
          project_directory: ${{ inputs.solution_directory }}
          global_json_file: ${{ inputs.global_json_file }}
        env:
          AWS_REGION: us-east-2
          AWS_DEPLOYMENT_ROLE: ${{ secrets.AWS_DEPLOYMENT_ROLE }}
          
  docker:
    runs-on: ${{ inputs.runs_on }}
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix:
        cfg: ${{ fromJson(inputs.docker) }}
    steps:
      - name: Docker Build Push
        uses: rwitzlib/github-action-templates/.github/actions/docker-build-push@v1.0.0
        with:
          ecr_repo: ${{ matrix.cfg.ecr_repo }}
          dockerfile: ${{ matrix.cfg.dockerfile }}
          context: ${{ matrix.cfg.context }}
          build-args: ${{ matrix.cfg.build-args }}
        env:
          AWS_REGION: us-east-2
          AWS_DEPLOYMENT_ROLE: ${{ secrets.AWS_DEPLOYMENT_ROLE }}

  terraform_validate:
    runs-on: ${{ inputs.runs_on }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          mask-aws-account-id: true
          role-duration-seconds: 900
          role-to-assume: ${{ secrets.AWS_DEPLOYMENT_ROLE }}
          role-session-name: gha-lad-${{ github.run_id }}
          aws-region: us-east-2
          
      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Validate
        working-directory: ${{ inputs.terraform_directory }}
        run: |
          terraform init -upgrade
          terraform validate

  terraform_promote:
    runs-on: ${{ inputs.runs_on }}
    needs: 
      - build
      - docker
      - terraform_validate
    concurrency:
      group: ${{ github.repository }}
      cancel-in-progress: false
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          mask-aws-account-id: true
          role-duration-seconds: 900
          role-to-assume: ${{ secrets.AWS_DEPLOYMENT_ROLE }}
          role-session-name: gha-lad-${{ github.run_id }}
          aws-region: us-east-2

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3

      - name: Setup Terraform Variables
        run: |
          echo "image_tag = \"${{ github.ref_name }}\"" >> ${{ inputs.environment }}.tfvars

      - name: Terraform Plan
        working-directory: ${{ inputs.terraform_directory }}
        run: |
          terraform init
          terraform validate
          terraform plan -input=false -var-file="../${{ inputs.environment }}.tfvars" -out ./final.tfplan

      - name: Terraform Apply
        if: github.event_name == 'workflow_dispatch' || github.ref_name == 'master'
        working-directory: ${{ inputs.terraform_directory }}
        run: |
          terraform init
          terraform apply -auto-approve ./final.tfplan