on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      terraform_directory:
        type: string
        required: false
        default: ./tf

jobs:
  terraform_plan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          mask-aws-account-id: true
          role-duration-seconds: 900
          role-to-assume: ${{ secrets.AWS_DEPLOYMENT_ROLE }}
          role-session-name: gha-lad-${{ github.run_id }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Setup
        uses: hashicorp/setup-terraform@v3
      
      - name: Setup Terraform Variables
        run: |
          echo "image_tag = \"${{ github.ref_name }}\"" >> ${{ inputs.environment }}.tfvars
  
      - name: Terraform Plan
        working-directory: ${{ inputs.terraform_directory }}
        run: |
          terraform init
          terraform validate
          terraform plan -input=false -var-file="../${{ inputs.environment }}.tfvars" -out ./final.tfplan

      - name: Terraform Apply
        if: github.event_name == 'workflow_dispatch' || github.ref_name == 'master'
        working-directory: ${{ inputs.terraform_directory }}
        run: |
          terraform init
          terraform apply -auto-approve ./final.tfplan